name: Terra Infra

on:
    push:
        branches:
            - master
        paths:
            - 'terraform/**'
    pull_request:
        branches:
            - master
        paths:
            - 'terraform/**'
    workflow_dispatch: #disparar el Workflow manual
        inputs:
            actions:
                description: 'Select action to perform'
                required: true
                default: 'plan'
                type: choice
                options:
                    - plan
                    - apply
                    - destroy
            confirm_apply:
                description: 'Type "DESTROY" to confirm destroy action'
                required: false
                default: ''
                type: string
env:
    REGION: us-east-1
    TF_VERSION: 1.5.6
    TF_VAR_existing_vpc_id : ${{ secrets.TF_VAR_EXISTING_VPC_ID }}
    TF_VAR_existing_private_subnet_ids : ${{ secrets.TF_VAR_EXISTING_PRIVATE_SUBNET_IDS }}
    TF_VAR_existing_public_subnet_ids : ${{ secrets.TF_VAR_EXISTING_PUBLIC_SUBNET_IDS }}
jobs:
    terraform:
        name: 'Terraform Jobs'
        runs-on: ubuntu-latest
        defaults:
            run:
                working-directory: terraform
        steps:
            - name: Checkout repository
              uses: actions/checkout@v4

            - name: Setup Terraform
              uses: hashicorp/setup-terraform@v3
              with:
                  terraform_version: ${{ env.TF_VERSION }}

            - name: Configure AWS Credentials
              uses: aws-actions/configure-aws-credentials@v2
              with:
                  aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
                  aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
                  aws-region: ${{ env.REGION }}
            - name: Terraform Format Check
              id: fmt
              run: terraform fmt
              continue-on-error: true

            - name: Terraform Init
              id: init
              run: terraform init

            - name: Terraform Validate
              id: validate
              run: terraform validate

            - name: Terraform Plan
              id: plan
              if: ${{ github.event.inputs.actions != 'destroy' }}
              run: terraform plan

            # - name: Terraform Apply
            #   if: ${{ github.event.inputs.actions == 'apply' }}
            #   working-directory: ./terraform
            #   run: terraform apply -auto-approve

            # - name: Terraform Destroy
            #   if: ${{ github.event.inputs.actions == 'destroy' && github.event.inputs.confirm_apply == 'DESTROY' }}
            #   working-directory: ./terraform
            #   run: terraform destroy -auto-approve

            # - name: Cancel Destroy
            #   if: ${{ github.event.inputs.actions == 'destroy' && github.event.inputs.confirm_apply != 'DESTROY' }}
            #   run: echo "Destroy action not confirmed. Skipping destroy."